WALK_MAX_DURATION               = 0
MIN_POTION_INTERVAL             = 30
MAX_POTION_INTERVAL             = 50
SKILL_KEY_1                     = a
SKILL_KEY_2                     = s
SKILL_KEY_3                     = d
SKILL_KEY_4                     = f
POTION_KEY_1                    = q
POTION_KEY_2                    = w