WALK_MAX_DURATION               = 0
MIN_POTION_INTERVAL             = 30
MAX_POTION_INTERVAL             = 50
SKILL_KEY_1_X                   = 2110
SKILL_KEY_1_Y                   = 1357
SKILL_KEY_2_X                   = 2158
SKILL_KEY_2_Y                   = 1357
POTION_KEY_1_X                  = 2081
POTION_KEY_1_Y                  = 1357